In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import openpyxl as pxl
import matplotlib.pyplot as plt

In [2]:
path = '/Users/arsen/codeup_data_science/tool_box/'

### With openpyxl

In [3]:
xl_file_pxl = pxl.load_workbook(f'{path}Cambium21_LRMER_states.xlsx')

In [4]:
firstWorksheet = xl_file_pxl.active

### With pandas

In [5]:
xl_file = pd.read_excel(f'{path}Cambium21_LRMER_states.xlsx', sheet_name=None)

In [6]:
type(xl_file)

dict

In [7]:
print(xl_file)

{'Description and Guidance':     Unnamed: 0                                         Unnamed: 1
0          NaN   Long-run Marginal Emission Rates for Electricity
1          NaN                     From the 2021 Cambium dataset
2          NaN                              Released January 2022
3          NaN                                                NaN
4          NaN  This workbook contains modeled estimates of lo...
..         ...                                                ...
65         NaN  The decarbonization scenarios have modeled con...
66         NaN  The two decarbonization scenarios follow traje...
67         NaN                                                NaN
68         NaN  What was the geographic resolution of the mode...
69         NaN  Both the ReEDS and the PLEXOS models are run u...

[70 rows x 2 columns], 'Levelized LRMER':       Unnamed: 0   Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0            NaN          NaN        NaN        NaN        NaN
1            NaN          NaN        NaN        NaN        NaN
2            NaN          NaN        NaN        NaN        NaN
3            NaN          NaN        NaN        NaN        NaN
4            NaN  User Inputs        NaN        NaN        NaN
...          ...          ...        ...        ...        ...
9107         NaN         8755         19        365         12
9108         NaN         8756         20        365         12
9109         NaN         8757         21        365         12
9110         NaN         8758         22        365         12
9111         NaN         8759         23        365         12

                                            Unnamed: 5  Unnamed: 6  \
0     Long-run Marginal Emission Rates for Electricity         NaN
1                       From the 2021 Cambium dataset          NaN
2                                Released January 2022         NaN
3                                                  NaN         NaN
4                                                  NaN         NaN
...                                                ...         ...
9107                                         496.61672  378.789278
9108                                        497.975845  375.281199
9109                                        518.162978  376.628192
9110                                        527.085224  380.403372
9111                                        512.941096  380.365075

      Unnamed: 7  Unnamed: 8  Unnamed: 9  ... Unnamed: 43 Unnamed: 44  \
0            NaN         NaN         NaN  ...         NaN         NaN
1            NaN         NaN         NaN  ...         NaN         NaN
2            NaN         NaN         NaN  ...         NaN         NaN
3            NaN         NaN         NaN  ...         NaN         NaN
4            NaN         NaN         NaN  ...         NaN         NaN
...          ...         ...         ...  ...         ...         ...
9107  287.508769  175.870712  212.664447  ...  362.793172  423.572558
9108  287.621185  174.657787  216.932376  ...  359.482333  424.180875
9109  288.824794  178.544014  220.170363  ...  362.227618  429.245477
9110  290.178442  179.249051  226.440071  ...  369.835854  430.330633
9111  291.607391  188.442293  226.991727  ...   365.70487  432.691445

     Unnamed: 45 Unnamed: 46 Unnamed: 47 Unnamed: 48 Unnamed: 49 Unnamed: 50  \
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
9107  335.266972  334.910169  418.543903  208.299795  245.005889  427.119926
9108  323.589981  337.393547  414.310873  207.453672   245.11272  427.282226
9109  316.844196  337.365973  417.831741   201.34565  241.885572  425.064686
9110  308.422304  334.080881  421.069792   196.13584  239.795383   426.53478
9111  309.981145   332.09229  419.965419  194.525416  237.958598  419.574044

     Unnamed: 51 Unnamed: 52
0            NaN         NaN
1            NaN         NaN
2            NaN         NaN
3            NaN         NaN
4            NaN         NaN
...          ...         ...
9107  543.498416  278.944245
9108  539.084317  282.107838
9109  534.428265  283.836764
9110  520.072598  285.410065
9111  510.716502  284.315556

[9112 rows x 53 columns], 'Data - Annual':     Unnamed: 0 Unnamed: 1                                         Unnamed: 2  \
0          NaN        NaN                                                NaN
1          NaN        NaN  Intermediate Levelization Calculations (kg/MWh...
2          NaN        NaN                                         Combustion
3          NaN      State                                                CO2
4          NaN         AL                                         399.900436
5          NaN         AR                                         339.269721
6          NaN         AZ                                         265.040204
7          NaN         CA                                         137.409921
8          NaN         CO                                         220.394761
9          NaN         CT                                         270.367414
10         NaN         DE                                          382.98953
11         NaN         FL                                         379.350073
12         NaN         GA                                         399.540561
13         NaN         IA                                         267.332584
14         NaN         ID                                         275.329041
15         NaN         IL                                         350.142843
16         NaN         IN                                         380.386355
17         NaN         KS                                         279.271709
18         NaN         KY                                          395.58239
19         NaN         LA                                         371.642139
20         NaN         MA                                         271.565401
21         NaN         MD                                         293.621285
22         NaN         ME                                         188.050697
23         NaN         MI                                         348.990997
24         NaN         MN                                         261.631498
25         NaN         MO                                          299.58908
26         NaN         MS                                         377.994879
27         NaN         MT                                          275.50165
28         NaN         NC                                          368.13607
29         NaN         ND                                         268.258007
30         NaN         NE                                         263.018333
31         NaN         NH                                         327.728835
32         NaN         NJ                                         309.775922
33         NaN         NM                                          232.87778
34         NaN         NV                                         250.717909
35         NaN         NY                                         155.721522
36         NaN         OH                                         379.758141
37         NaN         OK                                         260.176506
38         NaN         OR                                         270.699894
39         NaN         PA                                         397.451187
40         NaN         RI                                         297.180262
41         NaN         SC                                         369.132384
42         NaN         SD                                         262.853774
43         NaN         TN                                          397.55716
44         NaN         TX                                          286.08694
45         NaN         UT                                         275.702268
46         NaN         VA                                         298.310858
47         NaN         VT                                         174.459935
48         NaN         WA                                         188.426316
49         NaN         WI                                         307.084887
50         NaN         WV                                         380.017132
51         NaN         WY                                         252.041192

   Unnamed: 3 Unnamed: 4  Unnamed: 5     Unnamed: 6   Unnamed: 7 Unnamed: 8  \
0         NaN        NaN         NaN            NaN          NaN        NaN
1         NaN        NaN         NaN            NaN          NaN        NaN
2         NaN        NaN         NaN  Precombustion          NaN        NaN
3         CH4        N2O        CO2e            CO2          CH4        N2O
4   18.662884   2.495332   401.08426      37.447416  1716.614139   0.197404
5   11.562843   1.482512  339.986347        35.9227  1570.595039   0.179186
6    6.154774   0.683027   265.39354      30.279153  1346.358734   0.115713
7    3.151838   0.349214  137.590714      15.787178   698.140854   0.060549
8   13.169953   1.808284  221.242715      17.923803   864.484605   0.105286
9    5.579257   0.601491  270.683028      31.866627  1384.567597   0.127528
10  19.027314   2.573235  384.204202      34.870965  1604.424872    0.19137
11  12.207013    1.51122  380.092342      40.398696  1810.439219   0.177839
12  18.631779   2.493239  400.722959      37.425956  1715.289385   0.197404
13  19.972444   2.821023  268.639384      18.195319   915.763979   0.132964
14   9.489815   1.184979  275.908775      28.667162  1301.560791   0.123643
15  18.129411   2.451848  351.300206      31.079463  1455.311578   0.166531
16   18.96523   2.552331  381.593749      34.356764  1604.998632   0.179766
17  19.776645   2.786705  280.563931      20.116447   982.740293   0.142845
18  15.364101   1.974561  396.535843      39.668372  1810.722048   0.182889
19  11.111705   1.375159  372.317684      40.682391    1777.0501   0.191542
20   5.604082    0.60493  271.882622      32.032513  1390.188725   0.129569
21  16.226027   2.227059  294.665784      25.261999  1176.433256   0.150044
22   3.947366   0.425882  188.274081      22.079909   961.789186    0.08957
23  10.773321   1.342992  349.648542      37.821747  1660.503165   0.175836
24  19.543945   2.755635  262.908971      17.822335   897.650707   0.129106
25  18.345017   2.541388  300.776208      24.074232  1149.782031   0.148845
26   12.08712   1.511424  378.733845      40.540201  1789.913661   0.189113
27   9.830114   1.237525  276.104838      28.399172  1291.545051   0.123643
28  18.200642   2.440973  369.292546      33.408493  1561.679171   0.173327
29  20.164954   2.844428  269.576399      18.169596   916.525055   0.132964
30  19.365922   2.728325  264.283585      18.166519   910.233288   0.130609
31   6.703767   0.718665  328.106987      38.686878  1681.547822   0.154966
32  16.854658   2.312545  310.860677      26.903883  1248.072969   0.157998
33   7.342502   0.909976  233.324514      25.026935  1110.702712   0.112641
34   6.713654   0.781393  251.112961      27.850667  1246.101901   0.111552
35   4.658632   0.601113  156.011258      17.430141   720.332548   0.097129
36  18.990768   2.551459  380.966019      34.278475   1601.24038   0.179766
37  12.748812   1.751613   260.99765      24.265312  1066.193941   0.149802
38   9.335735   1.169872   271.27131      28.189549  1279.388507   0.122566
39  19.383121   2.606045  398.684517      36.434894  1681.510212   0.194147
40   6.136157   0.660822  297.527192      35.026979  1521.703102   0.141976
41  18.206152   2.436805  370.287909      33.541585   1568.09832   0.174404
42  19.243133   2.707996  264.110201      18.263701   914.678451   0.129323
43  15.083346    1.92934  398.490769      40.192902  1830.800615   0.184175
44   9.790495    1.23813  286.689178      30.042672  1339.993257   0.138145
45    9.46847   1.180385  276.280187      28.765072  1304.854336   0.123643
46   16.51172   2.248791  299.369116      25.479742  1208.833173   0.141505
47   3.680997   0.400202  174.669057       20.48967   891.526554    0.08258
48   7.180525   0.915788  188.870054      19.012482    868.93214   0.084977
49  17.738988   2.434059  308.226604      25.624216   1216.98468   0.148573
50  19.045507   2.561425  381.229184      34.255461  1601.176874   0.179766
51  11.820929   1.569251  252.788029      23.419938  1091.802066   0.117395

   Unnamed: 9  ... Unnamed: 456 Unnamed: 457 Unnamed: 458 Unnamed: 459  \
0         NaN  ...          NaN          NaN          NaN          NaN
1         NaN  ...          NaN          NaN          NaN          NaN
2         NaN  ...          NaN          NaN          NaN          NaN
3        CO2e  ...      2034.00      2036.00      2038.00      2040.00
4   85.564924  ...         0.03         0.03         0.02         0.02
5   79.946846  ...         0.03         0.02         0.01         0.01
6   68.007861  ...         0.03         0.02         0.01         0.01
7   35.351168  ...         0.03         0.02         0.01         0.01
8   42.157273  ...         0.03         0.02         0.01         0.01
9   70.668315  ...         0.03         0.02         0.01         0.01
10  79.845575  ...         0.03         0.02         0.02         0.02
11  91.138122  ...         0.04         0.05         0.04         0.04
12  85.506371  ...         0.03         0.03         0.02         0.02
13  43.871946  ...         0.03         0.02         0.01         0.01
14   65.14363  ...         0.04         0.03         0.02         0.01
15  71.872318  ...         0.03         0.03         0.02         0.03
16  79.344364  ...         0.04         0.04         0.03         0.04
17  47.671029  ...         0.03         0.02         0.01         0.01
18  90.417055  ...         0.04         0.03         0.02         0.01
19  90.490552  ...         0.03         0.02         0.01         0.02
20  70.992133  ...         0.03         0.02         0.01         0.01
21  58.241891  ...         0.03         0.02         0.02         0.02
22  49.033742  ...         0.03         0.02         0.01         0.01
23  84.362432  ...         0.04         0.04         0.04         0.05
24  42.990768  ...         0.03         0.02         0.01         0.01
25  56.307573  ...         0.03         0.02         0.01         0.01
26  90.707899  ...         0.03         0.02         0.01         0.02
27  64.595199  ...         0.04         0.03         0.02         0.01
28  77.181441  ...         0.05         0.05         0.04         0.03
29  43.867533  ...         0.03         0.02         0.01         0.01
30  43.687663  ...         0.03         0.02         0.01         0.01
31  85.811283  ...         0.03         0.02         0.01         0.01
32  61.891795  ...         0.03         0.02         0.01         0.02
33  56.156461  ...         0.03         0.02         0.01         0.01
34  62.771081  ...         0.03         0.02         0.01         0.01
35  37.625192  ...         0.03         0.02         0.01         0.01
36  79.160844  ...         0.04         0.04         0.03         0.04
37   54.15844  ...         0.04         0.02         0.01         0.01
38  64.044907  ...         0.04         0.03         0.02         0.01
39  83.568629  ...         0.03         0.03         0.02         0.02
40  77.672289  ...         0.03         0.02         0.01         0.01
41  77.494555  ...         0.05         0.05         0.04         0.03
42  43.908968  ...         0.03         0.02         0.01         0.01
43  91.504125  ...         0.04         0.03         0.02         0.01
44  67.599091  ...         0.03         0.02         0.01         0.01
45  65.333759  ...         0.04         0.03         0.02         0.01
46  59.364569  ...         0.04         0.04         0.04         0.03
47  45.474297  ...         0.03         0.02         0.01         0.01
48  43.365101  ...         0.04         0.03         0.02         0.01
49  59.739159  ...         0.03         0.03         0.02         0.03
50  79.136051  ...         0.04         0.04         0.03         0.04
51  54.021506  ...         0.03         0.02         0.01         0.01

    Unnamed: 460 Unnamed: 461  Unnamed: 462  Unnamed: 463  Unnamed: 464  \
0            NaN          NaN           NaN           NaN           NaN
1            NaN          NaN           NaN           NaN           NaN
2            NaN          NaN           NaN           NaN           NaN
3        2042.00      2044.00       2046.00       2048.00       2050.00
4           0.02         0.03          0.02          0.02          0.01
5           0.02         0.03          0.02          0.02          0.01
6           0.02         0.02          0.02          0.02          0.02
7           0.01         0.01          0.01          0.01          0.01
8           0.02         0.03          0.02          0.02          0.02
9           0.01         0.03          0.02          0.02          0.01
10          0.03         0.03          0.02          0.02          0.02
11          0.03         0.04          0.03          0.02          0.01
12          0.02         0.03          0.02          0.02          0.01
13          0.01         0.02          0.01          0.02          0.02
14          0.01         0.01          0.01          0.01          0.01
15          0.03         0.05          0.04          0.04          0.04
16          0.04         0.05          0.04          0.05          0.04
17          0.02         0.03          0.02          0.02          0.02
18          0.03         0.04          0.03          0.03          0.02
19          0.02         0.03          0.02          0.02          0.01
20          0.01         0.02          0.02          0.02          0.01
21          0.02         0.03          0.02          0.02          0.02
22          0.01         0.02          0.02          0.02          0.01
23          0.06         0.07          0.05          0.07          0.07
24          0.01         0.01          0.01          0.02          0.02
25          0.02         0.03          0.03          0.03          0.03
26          0.02         0.03          0.02          0.02          0.01
27          0.01         0.01          0.01          0.01          0.01
28          0.03         0.04          0.03          0.02          0.01
29          0.01         0.01          0.01          0.01          0.01
30          0.01         0.01          0.01          0.01          0.01
31          0.01         0.02          0.02          0.02          0.01
32          0.02         0.03          0.02          0.02          0.02
33          0.01         0.02          0.01          0.02          0.01
34          0.02         0.02          0.02          0.02          0.02
35          0.01         0.01          0.01          0.01          0.01
36          0.04         0.05          0.04          0.05          0.04
37          0.01         0.02          0.01          0.02          0.01
38          0.01         0.01          0.01          0.01          0.01
39          0.03         0.04          0.03          0.03          0.03
40          0.01         0.02          0.02          0.02          0.01
41          0.03         0.04          0.03          0.02          0.01
42          0.01         0.02          0.01          0.02          0.02
43          0.02         0.04          0.03          0.03          0.02
44          0.01         0.02          0.02          0.03          0.03
45          0.01         0.01          0.01          0.01          0.01
46          0.02         0.03          0.02          0.02          0.02

In [8]:
# xl_file.to_csv("cambiumfile.csv", index = None, header=True)

In [9]:
df = pd.read_csv("cambiumfile.csv", )
df.head()

   Unnamed: 0                                         Unnamed: 1
0         NaN   Long-run Marginal Emission Rates for Electricity
1         NaN                     From the 2021 Cambium dataset
2         NaN                              Released January 2022
3         NaN                                                NaN
4         NaN  This workbook contains modeled estimates of lo...

In [10]:
df.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
df.head()

                                          Unnamed: 1
0   Long-run Marginal Emission Rates for Electricity
1                     From the 2021 Cambium dataset
2                              Released January 2022
3                                                NaN
4  This workbook contains modeled estimates of lo...

In [11]:
df.head(15)

                                           Unnamed: 1
0    Long-run Marginal Emission Rates for Electricity
1                      From the 2021 Cambium dataset
2                               Released January 2022
3                                                 NaN
4   This workbook contains modeled estimates of lo...
5                                                 NaN
6   This workbook contains data reported at the st...
7                                                 NaN
8                                Recommended Citation
9   Gagnon, Pieter; Frazier, Will; Hale, Elaine, C...
10                                                NaN
11         What is a long-run marginal emission rate?
12  The long-run marginal emission rate is an esti...
13                                                NaN
14                        How was this data produced?

In [12]:
df.rename(columns={'Unnamed: 1': 'words'}, inplace=True)
df.head()

                                               words
0   Long-run Marginal Emission Rates for Electricity
1                     From the 2021 Cambium dataset
2                              Released January 2022
3                                                NaN
4  This workbook contains modeled estimates of lo...

In [13]:
df['words'][0]

'Long-run Marginal Emission Rates for Electricity'

#### Next steps
- It seems like 'xl_file = pd.read_excel(f'{path}Cambium21_LRMER_states.xlsx', sheetname=None)' grabs all the file.
- However, when I write the excel file to csv with 'xl_file.to_csv("cambiumfile.csv", index = None, header=True)', only the first page is rewritten.
- I need to write a loop to grab each sheet individually and put them in a list or something
- Each page is gonna behave differently because when I looked at the data, some contained NL (), some numeric data, some both, and the tables set-up is different from a sheet to another

In [14]:
xl_file = pd.read_excel(f'{path}Cambium21_LRMER_states.xlsx', sheet_name=None)

In [21]:
with pd.ExcelFile(f'{path}Cambium21_LRMER_states.xlsx') as xlsx:
#     df1 = pd.read_excel(xlsx, sheet_name = 0)
#     df2 = pd.read_excel(xlsx, sheet_name = 1)
#     df3 = pd.read_excel(xlsx, sheet_name = 2)
#     df4 = pd.read_excel(xlsx, sheet_name = 3)
#     df5 = pd.read_excel(xlsx, sheet_name = 4)
#     df6 = pd.read_excel(xlsx, sheet_name = 5)
    df7 = pd.read_excel(xlsx, sheet_name = 6)
#     df8 = pd.read_excel(xlsx, sheet_name = 7)
#     df9 = pd.read_excel(xlsx, sheet_name = 8)


# print("****Result Sheet 1****")
# print (df1[0:10][:2])
# print("")
# print("***Result Sheet 2****")
# print (df2[0:21][:25])
print("****Result Sheet 6****")
print (df7)

****Result Sheet 6****
   State Timezone
0     IL       CT
1     IN       ET
2     MI       ET
3     OH       ET
4     WI       CT
5     AL       CT
6     KY       ET
7     MS       CT
8     TN       CT
9     NJ       ET
10    NY       ET
11    PA       ET
12    AZ       MT
13    CO       MT
14    ID       MT
15    MT       MT
16    NM       MT
17    NV       PT
18    UT       MT
19    WY       MT
20    CT       ET
21    MA       ET
22    ME       ET
23    NH       ET
24    RI       ET
25    VT       ET
26    CA       PT
27    OR       PT
28    WA       PT
29    DE       ET
30    FL       ET
31    GA       ET
32    MD       ET
33    NC       ET
34    SC       ET
35    VA       ET
36    WV       ET
37    IA       CT
38    KS       CT
39    MN       CT
40    MO       CT
41    ND       CT
42    NE       CT
43    SD       CT
44    AR       CT
45    LA       CT
46    OK       CT
47    TX       CT

In [ ]:
# df = pd.read_excel(excel_file, sheet_name=None)
# xlsx = pd.ExcelFile(excel_file)
# PC_sheets = []
# for sheet in xlsx.sheet_names:
#     PC_sheets.append(xlsx.parse(sheet))
#     PC = pd.concat(PC_sheets)