In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import openpyxl as pxl
import matplotlib.pyplot as plt

In [2]:
path = '/Users/arsen/codeup_data_science/tool_box/'

### With openpyxl

In [3]:
xl_file_pxl = pxl.load_workbook(f'{path}Cambium21_LRMER_states.xlsx')

In [4]:
firstWorksheet = xl_file_pxl.active

### With pandas

In [5]:
xl_file = pd.read_excel(f'{path}Cambium21_LRMER_states.xlsx', sheet_name=None)

In [6]:
type(xl_file)

dict

In [8]:
df = pd.read_csv("cambiumfile.csv")
df.head()

   Unnamed: 0                                         Unnamed: 1
0         NaN   Long-run Marginal Emission Rates for Electricity
1         NaN                     From the 2021 Cambium dataset
2         NaN                              Released January 2022
3         NaN                                                NaN
4         NaN  This workbook contains modeled estimates of lo...

In [9]:
df.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
df.head()

                                          Unnamed: 1
0   Long-run Marginal Emission Rates for Electricity
1                     From the 2021 Cambium dataset
2                              Released January 2022
3                                                NaN
4  This workbook contains modeled estimates of lo...

In [10]:
df.rename(columns={'Unnamed: 1': 'words'}, inplace=True)
df.head()

                                               words
0   Long-run Marginal Emission Rates for Electricity
1                     From the 2021 Cambium dataset
2                              Released January 2022
3                                                NaN
4  This workbook contains modeled estimates of lo...

In [11]:
df['words'][0]

'Long-run Marginal Emission Rates for Electricity'

#### Next steps
- It seems like 'xl_file = pd.read_excel(f'{path}Cambium21_LRMER_states.xlsx', sheetname=None)' grabs all the file.
- However, when I write the excel file to csv with 'xl_file.to_csv("cambiumfile.csv", index = None, header=True)', only the first page is rewritten.
- I need to write a loop to grab each sheet individually and put them in a list or something
- Each page is gonna behave differently because when I looked at the data, some contained NL (), some numeric data, some both, and the tables set-up is different from a sheet to another

In [15]:
# Creating a loop to get each sheet and add
# them to an empty list then concatenate them all

xlsx = pd.ExcelFile(f'{path}Cambium21_LRMER_states.xlsx')
cambium_sheets = []
for sheet in xlsx.sheet_names:
    cambium_sheets.append(xlsx.parse(sheet))
    cambium_unified = pd.concat(cambium_sheets)

In [16]:
print(PC)

    Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0          NaN   Long-run Marginal Emission Rates for Electricity        NaN
1          NaN                     From the 2021 Cambium dataset         NaN
2          NaN                              Released January 2022        NaN
3          NaN                                                NaN        NaN
4          NaN  This workbook contains modeled estimates of lo...        NaN
..         ...                                                ...        ...
8          NaN  USER AGREES TO INDEMNIFY DOE/NREL/ALLIANCE AND...        NaN
9          NaN                                                NaN        NaN
10         NaN                            Funding Acknowledgement        NaN
11         NaN                                                NaN        NaN
12         NaN  This work was supported by the U.S. Department...        NaN

   Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         NaN        NaN        NaN        NaN        NaN        NaN
4         NaN        NaN        NaN        NaN        NaN        NaN
..        ...        ...        ...        ...        ...        ...
8         NaN        NaN        NaN        NaN        NaN        NaN
9         NaN        NaN        NaN        NaN        NaN        NaN
10        NaN        NaN        NaN        NaN        NaN        NaN
11        NaN        NaN        NaN        NaN        NaN        NaN
12        NaN        NaN        NaN        NaN        NaN        NaN

   Unnamed: 9  ... Unnamed: 461 Unnamed: 462 Unnamed: 463 Unnamed: 464  \
0         NaN  ...          NaN          NaN          NaN          NaN
1         NaN  ...          NaN          NaN          NaN          NaN
2         NaN  ...          NaN          NaN          NaN          NaN
3         NaN  ...          NaN          NaN          NaN          NaN
4         NaN  ...          NaN          NaN          NaN          NaN
..        ...  ...          ...          ...          ...          ...
8         NaN  ...          NaN          NaN          NaN          NaN
9         NaN  ...          NaN          NaN          NaN          NaN
10        NaN  ...          NaN          NaN          NaN          NaN
11        NaN  ...          NaN          NaN          NaN          NaN
12        NaN  ...          NaN          NaN          NaN          NaN

   Unnamed: 465 Unnamed: 466 Unnamed: 467 State Timezone Emission list
0           NaN          NaN          NaN   NaN      NaN           NaN
1           NaN          NaN          NaN   NaN      NaN           NaN
2           NaN          NaN          NaN   NaN      NaN           NaN
3           NaN          NaN          NaN   NaN      NaN           NaN
4           NaN          NaN          NaN   NaN      NaN           NaN
..          ...          ...          ...   ...      ...           ...
8           NaN          NaN          NaN   NaN      NaN           NaN
9           NaN          NaN          NaN   NaN      NaN           NaN
10          NaN          NaN          NaN   NaN      NaN           NaN
11          NaN          NaN          NaN   NaN      NaN           NaN
12          NaN          NaN          NaN   NaN      NaN           NaN

[24342 rows x 471 columns]

### Observation
**This creates a unique file with all the content of the excel file in there.
It is humongous and not practical the way it is right now
It seems like the code in the cell 21 below works better at providing isolated sheets**

In [18]:
with pd.ExcelFile(f'{path}Cambium21_LRMER_states.xlsx') as xlsx:
#     df1 = pd.read_excel(xlsx, sheet_name = 0)
#     df2 = pd.read_excel(xlsx, sheet_name = 1)
#     df3 = pd.read_excel(xlsx, sheet_name = 2)
#     df4 = pd.read_excel(xlsx, sheet_name = 3)
#     df5 = pd.read_excel(xlsx, sheet_name = 4)
#     df6 = pd.read_excel(xlsx, sheet_name = 5)
    df7 = pd.read_excel(xlsx, sheet_name = 6)
#     df8 = pd.read_excel(xlsx, sheet_name = 7)
#     df9 = pd.read_excel(xlsx, sheet_name = 8)


# print("****Result Sheet 1****")
# print (df1[0:10][:2])
# print("")
# print("***Result Sheet 2****")
# print (df2[0:21][:25])
print("****Result Sheet 6****")
print (df7[:5])

****Result Sheet 6****
  State Timezone
0    IL       CT
1    IN       ET
2    MI       ET
3    OH       ET
4    WI       CT

In [19]:
type(df7)

pandas.core.frame.DataFrame

In [20]:
state_timezone = df7
state_timezone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   State     48 non-null     object
 1   Timezone  48 non-null     object
dtypes: object(2)
memory usage: 896.0+ bytes

In [21]:
state_timezone.to_csv('state_timezone.csv', index=False)

In [22]:
state_timezone = pd.read_csv('state_timezone.csv')
state_timezone.head()

  State Timezone
0    IL       CT
1    IN       ET
2    MI       ET
3    OH       ET
4    WI       CT

In [23]:
state_timezone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   State     48 non-null     object
 1   Timezone  48 non-null     object
dtypes: object(2)
memory usage: 896.0+ bytes